@import "color";

body {
	background-size: cover;
	background-image: url("/images/lioness background.jpeg");
}


.buttonDiv {

	li {
		list-style: none;
		padding-top: 15px;
	}
}


.showAnimalImage {

	.img-circle {
		margin-top: 15px;
		margin-left: 25%;
	}
}


.foodPanel {

	background-image: url("/images/amber background.jpeg");

	.foodText {
		text-align: center;
	}
}