<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>NSS Lauren's Fave Animals</title>

	<link rel="stylesheet" type="text/css" href="./lib/bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="./styles/main.css">
</head>

<body ng-app="laurenFoods">
	<!-- <h1>NSS Lauren's Fave Animals</h1> -->

	<nav class="navbar navbar-default" ng-controller="NavCtrl">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	          <span class="sr-only">Toggle navigation</span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
        </button>
        <!-- <a class="navbar-brand" href="#">Brand</a> -->
		</div> <!-- nav container -->

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse">
			<!-- <ul class="nav navbar-nav navbar-right" ng-repeat="navLink in navItems">
				<li><a href="#" >{{navLink.name}}</a></li>
			</ul> -->
			<ul class="nav navbar-nav navbar-right" ng-model="value">
				<!-- <li><a id="animalID" href="#" ng-click="showAnimal()">Lauren's Fave Animal</a> -->
				<li><a id="animalID" href="#" ng-click="value=1">Lauren's Fave Animal</a></li>
				<li><a id="foodsID" href ng-click="value = 2">Fave Foods</a></li>
			</ul>
		</div> <!-- .collapse -->
	</nav> <!-- ng-controller -->


	<div ng-controller="ItemCtrl">

		<div class="buttonDiv">
			<ul>
				<li><button class="btn btn-default" ng-click="showAnimal()">Lauren's Fave Animal</button></li>
				<li><button class="btn btn-default" ng-click="showFoods()">Fave Foods</button></li>
			</ul>
		</div>


		<div ng-show="showAnimalImage">
			<div class="row">
				<div class="col-xs-3 col-xs-offset-3">

					<img class="faveAnimal img-circle" src="/images/inflated 3.jpeg">

				</div> <!-- .col -->
			</div> <!-- .row -->
		</div> <!-- .ng-show --> 


		<div ng-show="showFoodList">
			<div ng-repeat="item in foodItems">
				<div class="row">
					<div class="col-xs-8 col-xs-offest-2">
//starting here
					</div> <!-- .col -->
				</div> <!-- .row -->
			</div> <!-- .ng-repeat -->
		</div> <!-- .ng-show -->
	</div> <!-- ng-controller -->



  
	<!-- 3rd party scripts -->
	<script type="text/javascript" src="./lib/bower_components/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="./lib/bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="./lib/bower_components/angular/angular.min.js"></script>

	<!-- personal scripts -->
	<script type="text/javascript" src="./javascripts/main.js"></script>

</body>
</html>