body {
  background-size: cover;
  background-image: url("/images/lioness background.jpeg");
  font: 100%, "Gloria Hallelujah", cursive; }

.buttonDiv li {
  list-style: none;
  padding-top: 15px; }

.animalDiv .img-circle {
  margin-top: 60px; }

.foodPanel {
  background-image: url("/images/amber background.jpeg"); }
  .foodPanel .foodText {
    text-align: center; }
